// Rotates
$rotate-10: rotate(10deg);
$rotate-20: rotate(20deg);
$rotate-30: rotate(30deg);
$rotate-40: rotate(40deg);
$rotate-50: rotate(50deg);
$rotate-60: rotate(60deg);
$rotate-70: rotate(70deg);
$rotate-80: rotate(80deg);
$rotate-90: rotate(90deg);
$rotate-100: rotate(100deg);
$rotate-110: rotate(110deg);
$rotate-120: rotate(120deg);
$rotate-130: rotate(130deg);
$rotate-140: rotate(140deg);
$rotate-150: rotate(150deg);
$rotate-160: rotate(160deg);
$rotate-170: rotate(170deg);
$rotate-180: rotate(180deg);
$rotate-190: rotate(190deg);
$rotate-200: rotate(200deg);
$rotate-210: rotate(210deg);
$rotate-220: rotate(220deg);
$rotate-230: rotate(230deg);
$rotate-240: rotate(240deg);
$rotate-250: rotate(250deg);
$rotate-260: rotate(260deg);
$rotate-270: rotate(270deg);
$rotate-280: rotate(280deg);
$rotate-290: rotate(290deg);
$rotate-300: rotate(300deg);
$rotate-310: rotate(310deg);
$rotate-320: rotate(320deg);
$rotate-330: rotate(330deg);
$rotate-340: rotate(340deg);
$rotate-350: rotate(350deg);
$rotate-360: rotate(360deg);