// Translates
$translateX-1: translateX(1px);
$translateX-2: translateX(2px);
$translateX-3: translateX(3px);
$translateX-4: translateX(4px);
$translateX-5: translateX(5px);
$translateX-6: translateX(6px);
$translateX-7: translateX(7px);
$translateX-8: translateX(8px);
$translateX-9: translateX(9px);
$translateX-10: translateX(10px);
$translateX-11: translateX(11px);
$translateX-12: translateX(12px);
$translateX-13: translateX(13px);
$translateX-14: translateX(14px);
$translateX-15: translateX(15px);
$translateX-16: translateX(16px);
$translateX-17: translateX(17px);
$translateX-18: translateX(18px);
$translateX-19: translateX(19px);
$translateX-20: translateX(20px);
$translateX-21: translateX(21px);
$translateX-22: translateX(22px);
$translateX-23: translateX(23px);
$translateX-24: translateX(24px);
$translateX-25: translateX(25px);
$translateX-26: translateX(26px);
$translateX-27: translateX(27px);
$translateX-28: translateX(28px);
$translateX-29: translateX(29px);
$translateX-30: translateX(30px);
$translateX-31: translateX(31px);
$translateX-32: translateX(32px);
$translateX-33: translateX(33px);
$translateX-34: translateX(34px);
$translateX-35: translateX(35px);
$translateX-36: translateX(36px);
$translateX-37: translateX(37px);
$translateX-38: translateX(38px);
$translateX-39: translateX(39px);
$translateX-40: translateX(40px);
$translateX-41: translateX(41px);
$translateX-42: translateX(42px);
$translateX-43: translateX(43px);
$translateX-44: translateX(44px);
$translateX-45: translateX(45px);
$translateX-46: translateX(46px);
$translateX-47: translateX(47px);
$translateX-48: translateX(48px);
$translateX-49: translateX(49px);
$translateX-50: translateX(50px);

// Minus
$translateX-minus-1: translateX(-1px);
$translateX-minus-2: translateX(-2px);
$translateX-minus-3: translateX(-3px);
$translateX-minus-4: translateX(-4px);
$translateX-minus-5: translateX(-5px);
$translateX-minus-6: translateX(-6px);
$translateX-minus-7: translateX(-7px);
$translateX-minus-8: translateX(-8px);
$translateX-minus-9: translateX(-9px);
$translateX-minus-10: translateX(-10px);
$translateX-minus-11: translateX(-11px);
$translateX-minus-12: translateX(-12px);
$translateX-minus-13: translateX(-13px);
$translateX-minus-14: translateX(-14px);
$translateX-minus-15: translateX(-15px);
$translateX-minus-16: translateX(-16px);
$translateX-minus-17: translateX(-17px);
$translateX-minus-18: translateX(-18px);
$translateX-minus-19: translateX(-19px);
$translateX-minus-20: translateX(-20px);
$translateX-minus-21: translateX(-21px);
$translateX-minus-22: translateX(-22px);
$translateX-minus-23: translateX(-23px);
$translateX-minus-24: translateX(-24px);
$translateX-minus-25: translateX(-25px);
$translateX-minus-26: translateX(-26px);
$translateX-minus-27: translateX(-27px);
$translateX-minus-28: translateX(-28px);
$translateX-minus-29: translateX(-29px);
$translateX-minus-30: translateX(-30px);
$translateX-minus-31: translateX(-31px);
$translateX-minus-32: translateX(-32px);
$translateX-minus-33: translateX(-33px);
$translateX-minus-34: translateX(-34px);
$translateX-minus-35: translateX(-35px);
$translateX-minus-36: translateX(-36px);
$translateX-minus-37: translateX(-37px);
$translateX-minus-38: translateX(-38px);
$translateX-minus-39: translateX(-39px);
$translateX-minus-40: translateX(-40px);
$translateX-minus-41: translateX(-41px);
$translateX-minus-42: translateX(-42px);
$translateX-minus-43: translateX(-43px);
$translateX-minus-44: translateX(-44px);
$translateX-minus-45: translateX(-45px);
$translateX-minus-46: translateX(-46px);
$translateX-minus-47: translateX(-47px);
$translateX-minus-48: translateX(-48px);
$translateX-minus-49: translateX(-49px);
$translateX-minus-50: translateX(-50px);