// Translates
$translateY-1: translateY(1px);
$translateY-2: translateY(2px);
$translateY-3: translateY(3px);
$translateY-4: translateY(4px);
$translateY-5: translateY(5px);
$translateY-6: translateY(6px);
$translateY-7: translateY(7px);
$translateY-8: translateY(8px);
$translateY-9: translateY(9px);
$translateY-10: translateY(10px);
$translateY-11: translateY(11px);
$translateY-12: translateY(12px);
$translateY-13: translateY(13px);
$translateY-14: translateY(14px);
$translateY-15: translateY(15px);
$translateY-16: translateY(16px);
$translateY-17: translateY(17px);
$translateY-18: translateY(18px);
$translateY-19: translateY(19px);
$translateY-20: translateY(20px);
$translateY-21: translateY(21px);
$translateY-22: translateY(22px);
$translateY-23: translateY(23px);
$translateY-24: translateY(24px);
$translateY-25: translateY(25px);
$translateY-26: translateY(26px);
$translateY-27: translateY(27px);
$translateY-28: translateY(28px);
$translateY-29: translateY(29px);
$translateY-30: translateY(30px);
$translateY-31: translateY(31px);
$translateY-32: translateY(32px);
$translateY-33: translateY(33px);
$translateY-34: translateY(34px);
$translateY-35: translateY(35px);
$translateY-36: translateY(36px);
$translateY-37: translateY(37px);
$translateY-38: translateY(38px);
$translateY-39: translateY(39px);
$translateY-40: translateY(40px);
$translateY-41: translateY(41px);
$translateY-42: translateY(42px);
$translateY-43: translateY(43px);
$translateY-44: translateY(44px);
$translateY-45: translateY(45px);
$translateY-46: translateY(46px);
$translateY-47: translateY(47px);
$translateY-48: translateY(48px);
$translateY-49: translateY(49px);
$translateY-50: translateY(50px);

// Minus
$translateY-minus-1: translateY(-1px);
$translateY-minus-2: translateY(-2px);
$translateY-minus-3: translateY(-3px);
$translateY-minus-4: translateY(-4px);
$translateY-minus-5: translateY(-5px);
$translateY-minus-6: translateY(-6px);
$translateY-minus-7: translateY(-7px);
$translateY-minus-8: translateY(-8px);
$translateY-minus-9: translateY(-9px);
$translateY-minus-10: translateY(-10px);
$translateY-minus-11: translateY(-11px);
$translateY-minus-12: translateY(-12px);
$translateY-minus-13: translateY(-13px);
$translateY-minus-14: translateY(-14px);
$translateY-minus-15: translateY(-15px);
$translateY-minus-16: translateY(-16px);
$translateY-minus-17: translateY(-17px);
$translateY-minus-18: translateY(-18px);
$translateY-minus-19: translateY(-19px);
$translateY-minus-20: translateY(-20px);
$translateY-minus-21: translateY(-21px);
$translateY-minus-22: translateY(-22px);
$translateY-minus-23: translateY(-23px);
$translateY-minus-24: translateY(-24px);
$translateY-minus-25: translateY(-25px);
$translateY-minus-26: translateY(-26px);
$translateY-minus-27: translateY(-27px);
$translateY-minus-28: translateY(-28px);
$translateY-minus-29: translateY(-29px);
$translateY-minus-30: translateY(-30px);
$translateY-minus-31: translateY(-31px);
$translateY-minus-32: translateY(-32px);
$translateY-minus-33: translateY(-33px);
$translateY-minus-34: translateY(-34px);
$translateY-minus-35: translateY(-35px);
$translateY-minus-36: translateY(-36px);
$translateY-minus-37: translateY(-37px);
$translateY-minus-38: translateY(-38px);
$translateY-minus-39: translateY(-39px);
$translateY-minus-40: translateY(-40px);
$translateY-minus-41: translateY(-41px);
$translateY-minus-42: translateY(-42px);
$translateY-minus-43: translateY(-43px);
$translateY-minus-44: translateY(-44px);
$translateY-minus-45: translateY(-45px);
$translateY-minus-46: translateY(-46px);
$translateY-minus-47: translateY(-47px);
$translateY-minus-48: translateY(-48px);
$translateY-minus-49: translateY(-49px);
$translateY-minus-50: translateY(-50px);